---
# Strict clang-tidy configuration for LabyPath
# Do not relax the rules. 
# Do not take shortcuts : sometime it will need important refactoring, do not be afraid by the effort
Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  hicpp-*,
  misc-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-constraints
  

WarningsAsErrors: ''

HeaderFilterRegex: 'LabyPath/src/[A-Za-z0-9_/-]+\.h'


CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: '_'
  - key: modernize-use-auto.MinTypeNameLength
    value: 5
  - key: performance-unnecessary-value-param.AllowedTypes
    value: 'Point_2;Segment_2'
...
