[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
watchdog = ">=4.0"
pyqt6 = ">=6.6"
protobuf = ">=4.25"

[dev-packages]
pytest = ">=8.0"

[requires]
python_version = "3.12"
